.edit-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein ease-in-out 0.5s;
}

.edit-modal-content{
  border-radius: 16px;
  width: 660px;
  background-color: #fff;
  padding: 24px;
  color: #000;
}

.edit-modal-content .header{
  font-size: 22px;
  font-weight: 700;
}

.edit-modal-content .form{
  display: flex;
  flex-direction: column;
}

.edit-modal-content .edit-buttons-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.edit-modal-content .edit-buttons-container .button{
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  margin-left: 8px;
  height: 32px;
  width: 120px;
  transition: ease-in-out 0.3s;
}

.edit-modal-content .edit-buttons-container .button:hover{
  opacity: 0.5;
  cursor: pointer;
}

.edit-modal-content .edit-buttons-container .button.generic{
  border: solid 1px rgb(153, 153, 153);
  color: #000;
  background-color: #fff;
}

.edit-modal-content .edit-buttons-container .button.save{
  border: none;
  color: #fff;
  background-color: rgb(71, 185, 96);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media(max-width: 480px) {
  .edit-modal-content{
    margin-left: 16px;
    margin-right: 16px;
  }

  .edit-modal-content .edit-buttons-container{
    justify-content: center;
  }

  .edit-modal-content .edit-buttons-container .button{
    margin-left: 8px;
    margin-right: 8px;
    width: 160px;
    height: 40px;
  }
}
