.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein ease-in-out 0.5s;
}

.modal-content{
  border-radius: 16px;
  width: 500px;
  background-color: #fff;
  max-height: 146px;
  padding: 24px;
  width: 660px;
}

.modal-content .header{
  font-size: 22px;
  color: #000;
  padding-bottom: 40px;
}

.modal-content .buttons-container{
  display: flex;
  justify-content: flex-end;
}

.modal-content .buttons-container .button{
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  margin-left: 8px;
  height: 32px;
  width: 120px;
}

.modal-content .buttons-container .button:hover{
  opacity: 0.5;
  cursor: pointer;
}

.modal-content .buttons-container .button.generic{
  border: solid 1px rgb(153, 153, 153);
  color: #000;
  background-color: #fff;
}

.modal-content .buttons-container .button.delete{
  border: none;
  color: #fff;
  background-color: rgba(255, 81, 81, 1);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media(max-width: 480px) {
  .modal-content{
    margin-left: 16px;
    margin-right: 16px;
  }

  .modal-content .buttons-container{
    justify-content: center;
  }

  .modal-content .header{
    line-height: 35px;
    padding: 24px;
    padding-top: 0px;
    text-align: center;
  }

  .modal-content .buttons-container .button{
    width: 160px;
    height: 40px;
  }
}